{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "targets": {
                    "browsers": [
                        "last 5 versions",
                        "ie >= 8"
                    ]
                }
            }
        ]
    ]
}